@charset "UTF-8";

:root{
    --cordefundotabela:rgba(211, 211, 211, 0.5)
}

body{
    font-family: arial;
}
h1{
    text-align: center;
}
table{
    width:400px;
    height: 400px;
    text-align: center;
    border-collapse:collapse;
}
#tr_header{
    background-color: #00E648;
    color: red;
    font-weight: bolder;
    font-size: 2em;
    
}
td.conteudo{
    background-color:var(--cordefundotabela)
    
}
td{
    border:2px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: bottom;
}
td.easter_egg{
    background-color:var(--cordefundotabela);
    color: rgba(128, 128, 128, 0);
}

td > a:-webkit-any-link {
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: underline;
}
td > a:-webkit-any-link:hover {
    color: black;
    cursor: pointer;
    text-decoration: underline;
    transition: 0.7s;
    transition-delay: 0.3s;
    
}
